.vs/
*.dll
*.cache
*.obj
*.pdb
CollapsiblePanel/obj/
Common/obj/
DNR/obj/
Debug/
FUNcube/obj/
FUNcubeProPlus/obj/
FrequencyEdit/obj/
FrequencyManager/obj/
HackRF/obj/
PanView/obj/
RTLTCP/obj/
Radio/obj/
SDRIQ/obj/
SoftRock/
WavRecorder/