.vs/
*.dll
*.cache
*.obj
*.pdb
CollapsiblePanel/obj/
Common/obj/
DNR/obj/
Debug/
FUNcube/obj/
FUNcubeProPlus/obj/
FrequencyEdit/obj/
FrequencyManager/obj/
HackRF/obj/
PanView/obj/
RTLTCP/obj/
Radio/obj/
SDRIQ/obj/
SoftRock/obj/
WavRecorder/obj/
KnureSDR/obj/
!sdr_sharp_deps/hackrf.dll
!sdr_sharp_deps/libusb-1.0.dll
!sdr_sharp_deps/PortAudio.dll
!sdr_sharp_deps/rtlsdr.dll
!sdr_sharp_deps/sdriq.dll